.error {
  text-align: center;
  margin: 20px;
}

.error h4 {
  color: #F44336;
}

.error button {
  height: 40px;
  border-radius: 3px;
  border: 1px solid #EAEAEA;
  background-color: #FAFAFA;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.error button:hover {
  background-color: #EAEAEA;
}
