.list {
  background-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  padding: 0;
  border: 1px solid #DDD;
  width: 100%;
  list-style-type: none;
  height: calc(100vh - 115px);
  overflow-y: scroll;
}

.list-item {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #DDD;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item:hover {
  background-color: #FAFAFA;
}

.list-activeItem {
  background-color: #FAFAFA;
}

.list-fadedItem {
  opacity: 0.1;
}

.list-activeItem span:nth-of-type(1) {
  font-weight: bold;
}

.list-withinExecution {
  border-left: 5px solid #DDD;
}

.list-grouped {

}

.list-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #4285f4;
}

.list-remembered {
  position: absolute;
  left: 7.5px;
  top: 50%;
  margin-top: -2.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #999;
}

.list-name {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.list-type {
  margin-left: 5px;
  font-size: 10px;
  font-weight: bold;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
