{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  rules: {
    "semi": 0,
    "react/prop-types": 0,
    "guard-for-in": 0,
    "no-use-before-define": 0
  }
}
