packages/*/**/node_modules/**
packages/*/**/lib/**
packages/*/**/es/**
packages/*/**/dist/**
**/build/
**/*.min.js
**/bundle.js
coverage/**
vendor/**
packages/codemods/1.x-2.x/__testfixtures__/**
packages/node_modules/@cerebral/angular/test/**
packages/node_modules/function-tree/src/fluent
packages/node_modules/@cerebral/fluent/src
