node_modules
!/packages/node_modules
/packages/node_modules/**/node_modules
npm-debug.log*
coverage
.nyc_output
.DS_Store
dist
lib
es
build
website/builder/docs
*darwin-x64
package-lock.json
yarn-error.log
yarn.lock
