sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
  - '4'
before_install:
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
after_success:
  - npm run coverage
  - npm run coverage:upload
  - >
    echo $TRAVIS_BRANCH; echo $TRAVIS_PULL_REQUEST; echo $TRAVIS_NODE_VERSION;
    if [[ $TRAVIS_BRANCH == 'master' && $TRAVIS_PULL_REQUEST == 'false' && $TRAVIS_NODE_VERSION == '6' ]]; then
      git config --global user.email "cerebraljs@gmail.com" ;
      git config --global user.name "Cerebral JS" ;
      git remote add todomvc git@github.com:cerebral/cerebral-todomvc.git;
      npm run ci;
    fi
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
