.string span:nth-of-type(1), .string span:nth-of-type(2) {
  color: #dc6428;
}

.number span:nth-of-type(1), .number span:nth-of-type(2) {
  color: #1e78c3;
}

.boolean span:nth-of-type(1), .boolean span:nth-of-type(2) {
  color: #1e78c3;
}

.null span:nth-of-type(1), .null span:nth-of-type(2) {
  color: #1e78c3;
}

.highlight {
  background-color: #FFF;
  border: 1px solid #eb1e64;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
}

.object {
  cursor: pointer;
  flex: 1;
}

.highlightObject {
  composes: object;
  composes: highlight;
}

.objectProperty {
  display: flex;
  padding-left: 10px;
}

.objectPropertyKey {
  flex: 0 0 auto;
  padding-right: 5px;
}

.objectPropertyValue {
  flex: 4;
}

.array {
  cursor: pointer;
  flex: 1;
}

.highlightArray {
  composes: array;
  composes: highlight;
}

.arrayItem {
  padding-left: 10px;
}

.highlightValue {
  composes: highlight;
}
