.head-nav {
  position: fixed;
  height: 5px;
  background-color: #00a1c9;
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 20px 5px rgba(0,0,0,.15);
}

.head-nav__home {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: #92dff0;
  margin-left: 20px;
  text-decoration: none;
}
