.code {
  font-family: Roboto Mono,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-size: 97%;
  color: ##008fb3;
}

pre .code {
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  margin: 30px auto 60px;
  max-width: 600px; /* 70 chars */
  white-space: pre-wrap;
  display: block;
  overflow-x: auto;
}
