.service {
  margin-left: 2px;
  margin: 3px 0;
  display: flex;
}

.service i {
  flex: 0 0 auto;
  top: 0;
  color: #DDD;
}

.service-serviceName {
  font-weight: bold;
  margin-left: 5px;
  flex: 0 0 auto;
  font-size: 12px;
  line-height: 20px;
}

.service-serviceMethod {
  margin-left: 5px;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 12px;
  line-height: 20px;
}

.service-serviceArgs {
  display: flex;
  margin-left: 5px;
  flex: 1;
  font-size: 12px;
  line-height: 20px;
}

.service-serviceArgs > * {
  margin-right: 5px;
}
