.toolbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
  width: 100%;
  border-bottom: 1px solid #DDD;
}

.toolbar-item {
  flex: 1;
}

.toolbar-tabs {
  height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toolbar-tab {
  float: left;
  cursor: pointer;
  font-size: 12px;
  height: 39px;
  color: #999;
  line-height: 40px;
  background-color: #EEE;
  min-width: 150px;
  text-align: center;
  border-right: 1px solid #DDD;
}

.toolbar-search {
  float: left;
  font-size: 12px;
  height: 39px;
  color: #999;
  line-height: 40px;
  background-color: #EEE;
  min-width: 150px;
  text-align: center;
  border-right: 1px solid #DDD;
}

.toolbar-search input {
  height: 25px;
  padding: 0 5px;
  outline: none;
}

.toolbar-tab:hover {
  background-color: #FAFAFA;
  color: #333;
}

.toolbar-tab--active {
  height: 40px;
  color: #333;
  font-weight: bold;
  background-color: #FAFAFA;
}

@media (min-width: 1270px) {
    .toolbar-tabOnSmall {
        display: none;
    }
}
