img {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 3px;
}

blockquote {
  font-size: 24px;
  text-align: center;
  color: #333;
  opacity: 0.5;
  line-height: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  position: absolute;
  left: 5px;
  bottom: 2px;
  display: none;
}

h1:hover > a,
h2:hover > a,
h3:hover > a,
h4:hover > a,
h5:hover > a,
h6:hover > a {
  display: block;
}

#docs-container {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
}

.docs-doc {
  overflow: auto;
  flex: 4;
}

.docs-doc-content {
  position: relative;
  max-width: 800px;
  min-height: calc(100vh - 210px);
  padding-bottom: 60px;
  margin: 0 60px;
}
.docs-doc-content li {
  margin-top: 10px;
}

.docs-doc-edit {
  position: absolute;
  right: 0;
  top: 30px;
}

@media (max-width: 850px) {
  #docs-container {
    flex-direction: column;
  }

  .docs-doc-content {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }

  .docs-doc-edit {
    display: none;
  }
}

.issues {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
}

.issues > li {
  margin-bottom: 20px;
}

.issues > li small {
  font-size: 14px;
}

.issues-label {
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 851px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 100px;
    margin-top: -70px;
  }

  .docs-doc {
    padding-top: 70px;
  }
}
