
img {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 3px;
}

blockquote {
  font-size: 24px;
  text-align: center;
  color: #333;
  opacity: 0.5;
  line-height: 32px;
}


#docs-container {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
}

.docs-doc {
  overflow: auto;
  flex: 4;
}

.docs-doc-content {
  position: relative;
  max-width: 800px;
  min-height: calc(100vh - 210px);
  padding-bottom: 60px;
  margin: auto;
}
.docs-doc-content li {
  margin-top: 10px;
}

.docs-doc-edit {
  position: absolute;
  right: 0;
  top: 30px;
}

@media (max-width: 850px) {

  #docs-container {
    flex-direction: column;
  }

  .docs-doc-content {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }

  .docs-doc-edit {
    display: none;
  }
}
