.index-container {
  /* background-color: #00a1c9; */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.index-title {
  font-size: 82px;
  font-weight: 700;
  color: #333;
}

.index-release {
  text-align: center;
  font-size: 0.75em;
}

.index-container .docs-doc {
  overflow: visible;
  text-align: left;
  font-size: 1.25em;
  line-height: 30px;
  margin: 0 auto;
}

.index-buttons {
  display: flex;
  margin: 15px;
  justify-content: center;
}

.index-youtube {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.index-youtube iframe {
  border: 1px solid #333;
}

.index-example-row {
  display: flex;
  justify-content: space-between;
}

.index-example-row > div {
  flex: 1;
}

.index-example-row > div:first-child {
  margin-right: 5px;
}

.index-example-row > div:last-child {
  margin-left: 5px;
}

@media (max-width: 850px) {
  .index-example-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.index-container .docs-doc-content {
  min-height: auto;
}

.index-subtitle {
  font-size: 42px;
  font-weight: 500;
  color: rgba(255,255,255, 0.25);
}

.index-motto {
  font-size: 32px;
  font-weight: 400;
  color: #FFF;
}

.logo {
  background: url("/images/cerebral.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 200px;
  height: 200px;
}
