html,
body {
  background-color: #fff;
  margin: 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
}

.button {
  box-sizing: border-box;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: #007299;
  padding: 10px 15px;
  border-radius: 3px;
  height: 50px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  min-width: 150px;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: #0086b3;
  color: #fff;
}

a {
  text-decoration: none;
  color: #0086b3;
  cursor: pointer;
}

a:hover {
  color: #004c66;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 30px;
  margin-top: 0;
  font-weight: normal;
  color: #333;
}

h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.beta {
  position: fixed;
  top: 10px;
  left: -30px;
  transform: rotate(-45deg);
  background-color: #dd4a68;
  color: #fff;
  padding: 5px 40px;
  z-index: 90;
}

@media (max-width: 850px) {
  .beta {
    left: auto;
    right: -30px;
    transform: rotate(45deg);
  }

  iframe {
    width: 280px;
    height: 180px;
  }
}

code {
  color: #999;
}

pre {
  padding: 0;
  background: white !important;
  overflow: hidden;
  width: 100%;
}
pre > code {
  display: block;
  overflow-x: auto;
  max-width: 700px; /* 70 chars */
  padding: 10px 15px;
  margin: 20px auto;
  border-radius: 3px;
  background-color: #fafafa !important;
  color: #333 !important;
  font-size: 14px;
}

@font-face {
  font-family: 'cerebral icons';
  src: url('/cerebral-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before {
  display: inline-block;
  font-family: 'cerebral icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-out-arrow:before {
  content: '\0041';
}

.logo {
  background: url('/images/cerebral.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 200px;
  height: 200px;
}
