
#hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50px;
  height: 50px;
  cursor: pointer;
}
#hamburger:before {
  content: "";
  width: 40%;
  height: 30%;
  background: linear-gradient(
    to bottom,
    white, white 20%,
    transparent 20%, transparent 40%,
    white 40%, white 60%,
    transparent 60%, transparent 80%,
    white 80%, white 100%
  );
}

#nav_mobile-header {
  display: none;
  background-color: #0086b3;
  width: 100%;
  height: 50px;
  align-items: center;
  color: white;
  font-size: 1.2em;
  padding-right: 20px;
  box-sizing: border-box;
}
#nav_mobile-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#nav_search {
  height: 30px;
}

/* === navigation === */

#nav {
  width: 300px;
  display: flex;
  flex-direction: column;
  line-height: initial;
  border-right: 1px solid lightgray;
  background-color: #fafafa;
}


@media (max-width: 850px) {

  #nav {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 5;
    height: 100%;
    box-shadow: 0 0 3px 0 lightgray;
  }
  #nav.show + .docs-doc::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }
  #nav.show {
    display: flex;
  }
  #nav_mobile-header {
    display: flex;
  }
}

#nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: none;
  flex: 1 0;
  color: #0086b3;
}
#nav > ul {
  padding: 0;
  display: block;
  overflow-y: auto;
  position: relative;
}
#nav > ul > li {
  border-bottom: 1px solid #eaeaea;
}
#nav > ul > li:last-child {
  margin-bottom: 10px;
}

#nav ul ul {
  font-size: 0.9em;
  background-color: #ffffff;
  line-height: 0.9;
  padding-bottom: .2em;
}


#nav ul ul ul {
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  padding-left: 10px;
  background-color: #fafafa;
}

#nav ul ul ul ul {
  border-top: 0;
  border-bottom: 0;
  padding-left: 10px;
  background-color: #fafafa;
}

#nav li {
  position: relative;
}

.nav_item-name {
  display: flex;
  align-items: center;
  padding: 0 .5em;
  height: 2em;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0;
}

.nav_item-name:hover {
  color: #004c66;
}

.nav_page-item .nav_item-name.nav_page {
  background-color: #ffffff;
}

.nav_page-item .nav_item-name.nav_sublink {
  background-color: #fafafa;
}

.nav_page-item.nav_open > a.nav_item-name {
  font-weight: bold;
}

.nav_toggle {
  opacity: 0;
  z-index: 3;
  position: absolute;
  height: 2em;
  width: 2em;
}

.nav_toggle,
.nav_toggle-label::before {
  font-family: monospace, monospace;
  cursor: pointer;
  margin: 0;
  border: none !important;
  font-size: inherit;
  font-weight: normal;
}

.nav_toggle-label::before {
  content: '\a0';
  z-index: 2;
  padding: 0 .5em;
  color: #cacaca;
}

.nav_toggle:hover + .nav_toggle-label::before {
  color: #333333;
}

.nav_toggle-label:not(.nav_childless)::before {
  content: '+';
}

.nav_toggle:checked + .nav_toggle-label:not(.nav_childless)::before {
  content: '−';
}

#nav .nav_toggle:checked ~ ul:first-of-type {
  display: block;
}

.nav_toggle:checked + .nav_toggle-label {
  /*font-weight: bold;*/
}

.nav_section-item > .nav_toggle {
  width: 100%;
}

.nav_section-item > .nav_toggle:hover + .nav_section::after {
  content: '+';
  padding: 0 .5em;
  color: #cacaca;
  position: absolute;
  right: 0;
  font-family: monospace, monospace;
}

.nav_section-item > .nav_toggle:checked:hover + .nav_section::after {
  content: '−';
}

#nav_home > span {
  font-size: x-small;
  display: flex;
  align-items: center;
}
#nav_home > span:before {
  font-weight: bold;
}

/* === buttons === */

#nav_header {
  display: flex;
  align-items: center;
  padding: 5px;
  flex: 0 0 40px;
  border-bottom: 1px solid #eaeaea;
}

.nav_button > div {
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin: 5px;
}

.nav_button-github {
  background-image: url(/images/github.png);
}
.nav_button-discord {
  background-image: url(/images/discord.png);
}
.nav_button-twitter {
  background-image: url(/images/twitter.png);
}

.nav-backToFront {
  padding: 5px 10px;
}
