.debugger {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Helvetica Neue", Arial;
  color: #333;
  background-color: #FAFAFA;
}

.debugger-toolbar {
  flex: 0 0 40px;
  display: flex;
}

.debugger-mutationsError {
  flex: 0 0 40px;
  display: flex;
  background-color: #eb1e1e;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.debugger-mutationsError h1, .debugger-mutationsError h4 {
  color: #FFF;
  margin: 0;
  opacity: 0.8;
}

.debugger-mutationsError h1 {
  font-size: 22px;
  margin-right: 10px;
}

.debugger-mutationsError h4 {
  font-weight: normal;
}

.debugger-content {
  flex: 1;
  display: flex;
}

.debugger-loading {
  text-align: center;
}

.debugger-loading h3 {
  color: #333;
}

.debugger-disabled {
  padding: 50px;
  text-align: center;
}
