.signal {
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #DDD;
  height: calc(100vh - 106px);
  overflow-y: scroll;
}

.executedBy {
  height: auto;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.05);
  overflow: auto;
}

.executedByLine {
  height: 3px;
  border-bottom: 1px solid #DDD;
}

.clickable {
  cursor: pointer;
}

.signal-title {
  margin: 0;
  padding: 10px 10px 0 10px;
  font-size: 20px;
}

.signal-chain {
  padding: 10px;
}

.signal-groupHeader {
  display: flex;
  align-items: flex-start;
}

.signal-groupHeader > i {
  top: 0;
  font-size: 20px;
}

.signal-async {
  flex: 1;
  border-top: 1px solid #DDD;
  border-left: 5px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
}

.signal-group {
  flex: 1;
  border: 1px solid #DDD;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
}

.signal-output {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
}

.signal-output > i {
  top: 0;
  flex: 0 0 20px;
}

.signal-outputName {
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}

.signal-outputName.executed {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: default;
}

.signal-outputPath {
  flex: 1;
}

.signal-groupName {
  font-size: 10px;
  color: #777;
  margin-left: 10px;
  border: 1px solid #DDD;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 3px 10px;
  background-color: #DDD;
  display: inline-block;
}

.signal-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 32px;
  color: #CCC;
}
