@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  position: relative;
  font-family: 'icomoon' !important;
  font-size: 2em;
  top: 5px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty {}
.icon-empty:before {
  content: " "
}

.icon-mutation {}
.icon-mutation:before {
    content: "\e161";
}

.icon-service {}
.icon-service:before {
    content: "\e8b8";
}

.icon-radio_button_unchecked:before {
    content: "\e836";
}
.icon-history:before {
    content: "\e889";
}

.icon-model {}
.icon-model:before {
  content: "\e1db";
}

.icon-parallel {}
.icon-parallel:before {
  content: "\e53b";
}

.icon-action {}
.icon-action:before {
  content: "\e86c";
}

.icon-asyncAction {}
.icon-asyncAction:before {
  content: "\e889";
}

.icon-skippedOutput {}
.icon-skippedOutput:before {
    content: "\e5cd";
}

.icon-signals {}
.icon-signals:before {
    content: "\e565";
}

.icon-right {}
.icon-right:before {
    content: "\e5cc";
}

.icon-runningAction {}
.icon-runningAction:before {
  content: "\e5d5";
}

.icon-down {}
.icon-down:before {
    content: "\e5cf";
}

.icon-warning {}
.icon-warning:before {
    content: "\e002";
}

.icon-components {}
.icon-components:before {
    content: "\e871";
}
