.wip {
  display: block;
  margin: 0 80px 30px 80px;
  padding: 13px 40px;
  border-left: 3px solid #f82f38;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(19,77,127,0.17);
}

@media (max-width: 600px) {
  .wip {
    margin: 0 0px 30px;
  }  
}
