.heading_lvl_1,
.heading_lvl_2,
.heading_lvl_3,
.heading_lvl_4 {
  font-weight: 300;
  color: #00a1c9;
  margin: 40px 0 0;
}

.heading_lvl_1,
.heading_lvl_2 {
  font-size: 38px;
  line-height: 46px;
}

.heading_lvl_2 {
  margin: 0 0 40px;
}

.heading_lvl_3 {
  font-size: 26px;
  line-height: 30px;
}

.heading_lvl_4 {
  font-size: 22px;
  line-height: 22px;
  margin: 40px 0 0;
}
