.JSONinput-input {
  position: relative;
  border: 0;
  text-indent: 3px;
  outline: none;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  color: #333;
  box-sizing: border-box;
}

.JSONinput-invalidInput {
  border: 1px solid red;
}
