body {
    margin: 0 !important;
    min-width: inherit !important;
    max-width: inherit !important;
}

#todoapp-wrapper {
    margin: 0 auto;
    min-width: 230px;
    max-width: 550px;
}

a {
    cursor: pointer;
}
