.signals {
  flex: 1.25;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.signals-list {
  flex: 2;
  min-width: 200px;
}

.signals-signal {
  margin-left: 10px;
  flex: 4;
  overflow: auto;
}

.signals-rewrite {
  display: block;
  border-top: 0;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  background-color: #fff;
  height: 25px;
  padding: 5px;
  margin: 0;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}
.signals-rewrite:hover {
  background-color: #FAFAFA;
}

.signals-reset {
  display: block;
  border-top: 0;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 25px;
  padding: 5px;
  margin: 0;
  width: 100%;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
}
.signals-reset:hover {
  background-color: #FAFAFA;
}

.signals-textarea {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}

.signals-textarea textarea {
  width: 300px;
  height: 300px;
}

@media (max-width: 650px) {
    .signals-list {
        flex: 0;
        min-width: 25vw;
        max-width: 25vw;
    }

    .signals button {
        font-size: 7px;
    }
}
