.heading_lvl_1,
.heading_lvl_2,
.heading_lvl_3 {
  font-weight: 600;
  color: #00a1c9;
}

.heading_lvl_1,
.heading_lvl_2 {
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}

.heading_lvl_3 {
  font-size: 32px;
  line-height: 40px;
}

.heading_lvl_4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #223338;
  margin: 0
}
