.page {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #223338;
  min-height: 100vh;
  overflow-y: scroll;
}

.page__content {
  flex: 1
}

.heading.heading_lvl_4 {
  margin-bottom: 0;
}
