.signal {
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #DDD;
  height: calc(100vh - 65px);
  overflow-y: scroll;
}

.title {
  margin: 0;
  padding: 10px 10px 0 10px;
  font-size: 20px;
}

.chain {
  padding: 10px;
}

.asyncHeader {
  display: flex;
  align-items: flex-start;
}

.asyncHeader > i {
  top: 0;
  font-size: 20px;
}

.async {
  flex: 1;
  border-top: 1px solid #DDD;
  border-left: 5px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
}

.output {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
}

.output > i {
  top: 0;
  flex: 0 0 20px;
}

.outputName {
  height: 20px;
  line-height: 20px;
}

.outputPath {
  flex: 1;
}
