service firebase.storage {
  match /b/cerebral-demo.appspot.com/o {
    match /{uid} {
      match /clients/{clientId}/image/{filename} {
        allow read: if request.auth != null && request.auth.uid == uid; 
        allow write: if ( request.auth != null && request.auth.uid == uid ) &&
                        ( request.resource == null || 
                          ( request.resource.size < 100 * 1024 &&
                            request.resource.contentType.matches('image/.*')
                          )
                        )
      }
    }
  }
}
