.action {
  font-size: 10px;
}

.actionError {
  composes: action;
  border: 1px solid #F44336;
  border-radius: 2px;
}

.action:not(:last-child) {
  margin-bottom: 10px;
}

.actionHeader {
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
}

.actionErrorHeader {
  background-color: #F44336;
  padding: 5px;
  color: #FAFAFA;
}

.actionErrorHeader > i {
  top: 0;
  margin-right: 5px;
}

.error {
  padding: 5px;
  font-size: 12px;
}

.stack {
  resize: none;
  border: 0;
  width: 100%;
  outline: none;
  height: 100px;
}

.firstStack {
  font-weight: bold;
  font-size: 14px;
}

.stackLine {
  font-size: 12px;
}


.actionHeader > i {
  top: 0;
  flex: 0 0 20px;
  margin-right: 5px;
}

.actionTitle {
  display: inline-block;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.actionTitle:hover {
  color: #1e78c3;
}

.actionNameParams {
  font-size: 12px;
  margin-left: 5px;
  opacity: 0.5;
}

.actionInput {
  display: flex;
  align-items: flex-start;
}

.actionInput > i {
  top: 0;
  flex: 0 0 20px;
}

.inputValue {
  font-size: 12px;
  flex: 1;
  padding-top: 2px;
}

.inputLabel {
  font-size: 10px;
  flex: 0 0 auto;
  line-height: 20px;
  padding-right: 5px;
}


.actionOutput {
  display: flex;
  align-items: flex-start;
}

.actionOutput > i {
  top: 0;
  flex: 0 0 20px;
}

.outputValue {
  font-size: 12px;
  flex: 1;
  padding-top: 2px;
}

.outputLabel {
  font-size: 10px;
  flex: 0 0 auto;
  line-height: 20px;
  padding-right: 5px;
}
