.action {
  font-size: 10px;
}

.action-faded {
  opacity: 0.25;
}

.action:not(:last-child) {
  margin-bottom: 10px;
}

.action-actionError {
  border: 1px solid #F44336;
  border-radius: 2px;
}

.action-actionHeader {
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
}

.action-actionErrorHeader {
  background-color: #F44336;
  padding: 5px;
  display: flex;
  color: #FAFAFA;
  background-color: #F44336;
}

.action-actionErrorHeader > i {
  top: 0;
  margin-right: 5px;
}

.action-error {
  padding: 5px;
  font-size: 12px;
}

.action-stack {
  resize: none;
  border: 0;
  width: 100%;
  outline: none;
  height: 100px;
}

.action-firstStack {
  font-weight: bold;
  font-size: 14px;
}

.action-stackLine {
  font-size: 12px;
}


.action-actionHeader > i {
  top: 0;
  flex: 0 0 20px;
  margin-right: 5px;
}

.action-actionTitle {
  font-size: 14px;
  height: 20px;
  border-radius: 2px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.action-actionName {
  font-style: italic;
}

.action-actionTitle:hover {
  color: #1e78c3;
}

.action-actionNameParams {
  font-size: 12px;
  margin-left: 5px;
  opacity: 0.5;
}

.action-actionInput {
  display: flex;
  align-items: flex-start;
}

.action-actionInput > i {
  top: 0;
  flex: 0 0 20px;
}

.action-inputValue {
  font-size: 12px;
  flex: 1;
  padding-top: 2px;
}

.action-inputLabel {
  font-size: 10px;
  flex: 0 0 auto;
  line-height: 20px;
  padding-right: 5px;
}


.action-actionOutput {
  display: flex;
  align-items: flex-start;
}

.action-actionOutput > i {
  top: 0;
  flex: 0 0 20px;
}

.action-outputValue {
  font-size: 12px;
  flex: 1;
  padding-top: 2px;
}

.action-outputLabel {
  font-size: 10px;
  flex: 0 0 auto;
  line-height: 20px;
  padding-right: 5px;
}
