.wrapper {
  flex: 1;
  padding-left: 20px;
}

.renderWrapper {
  background-color: #FFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  padding: 0;
  border: 1px solid #DDD;
  width: 100%;
  list-style-type: none;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.item {
  position: relative;
  border-bottom: 1px solid #DDD;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemHeader {
  background-color: #FAFAFA;
  padding: 0 15px;
  border-bottom: 1px solid #DDD;
  height: 30px;
  line-height: 30px;
}

.renderDataWrapper {
  display: flex;
}

.pathsHeader, .componentsHeader {
  background-color: #FAFAFA;
  border-bottom: 1px solid #DDD;
  padding-left: 15px;
  height: 20px;
  line-height: 20px;
}

.pathsHeader > small, .componentsHeader > small {
  opacity: 0.5;
}

.paths {
  flex: 1;
}

.components {
  flex: 1;
  border-left: 1px solid #DDD;
}

.componentsList, .pathsList {
  padding: 15px;
}

.path {
  margin-bottom: 5px;
}
