// Custom UI elements
.SelectorBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  z-index: 9;
  background: #444;
}

.Selector {
  position: relative;
}

.SelectorLeft, .SelectorRight {
  border-radius: 2px;
  background: white;
  top: 0;
  position: absolute;
  z-index: 9;

  & > .menu {
    padding: 5px;
  }
}

.SelectorLeft {
  right: 0;
}

.SelectorRight {
  left: 0;
}

#root .is-dark {
  .SelectorLeft, .SelectorRight {
    background: #444;
  }
}

// Fix lang selector on the right with smaller screens
@media screen and (max-width: 979px) {
  .hero-head > .container > .nav > .nav-right > .nav-item:last-child {
      padding-right: 20px;
  }
}
