.app-input {
  outline: none;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #DDD;
  margin: 0 5px;
  width: 200px;
  padding: 5px 10px;
  font-size: 16px;
}

.app-input-port {
  width: 50px;
}

.app-button {
  height: 40px;
  border: 1px solid #333;
  background-color: #FFF;
  border-radius: 3px;
  margin: 15px 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
}

.app-button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.app-button:hover {
  background-color: #FAFAFA;
}

.app-error {
  height: 30px;
  line-height: 30px;
  background-color: #DD4A68;
  color: #FFF;
  padding: 5px 20px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 10px;
}

.app-type-wrapper {
  padding: 10px;
}

.app-type-wrapper label {
  margin: 0 5px;
  cursor: pointer;
}

.app-type-wrapper input {
  margin: 0 5px;
  cursor: pointer;
}
